* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Itim', cursive;
    font-size: 2rem;
    color: var(--primary-color);
    overscroll-behavior: ease-in-out;
}

:root {
    --primary-color: #093500;
    --contrast-color: #FFFFFF;
    --almost-white: #bebebe;
    --gap: 3rem;
    --blue: rgb(0, 10, 153);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster Two', cursive;
    margin-bottom: 2.5rem;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: var(--gap);
}

table {
    min-width: 36rem;
    width: 100%;
    border-collapse: collapse;
}

table caption {
    font-style: italic;
    font-size: 1.6rem;
    text-align: left;
}

table td, table th {
    white-space: nowrap;
    padding: 1rem;
    text-align: left;
    border: 0.1rem solid var(--primary-color)
}

tfoot td, table th {
    background-color: var(--primary-color);
}